.main-container {
  display: flex;
  min-height: 100vh;
}

.menu {
  flex: 1;
  max-width: 280px;
}

.content {
  flex: 2;
  padding: 10% 5% 10% 5%;
  background-color: var(--color-light-gray);
}

@media (max-width: 992px) {
  .main-container {
    flex-direction: column;
  }

  .menu {
    max-width: none;
  }
  .content {
    padding: 10% 1% 10% 1%;
  }
}
