.registrar {
  background-color: var(--color-white);
  width: 40vw;
  max-width: 550px;
  min-height: 350px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  margin: auto;
  border-radius: 16px;
  padding: 4rem;
  margin-top: 10%;
}

.formulario {
  margin-top: 10%;

  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.formulario label {
  position: absolute;
  bottom: 100%;
  left: 0%;
  font-size: 14px;
  color: #999;
  pointer-events: none;
}

.formulario .mensaje-error {
  color: red;
  font-size: 12px;
}

.formulario .campo {
  position: relative;
}

.formulario .campo input {
  border-radius: 8px;
  appearance: none;
  outline: none;
  height: 24px;
  padding: 4px 5px 4px 5px;
  border: 1px solid #ccc;
  background-color: transparent;
}

.formulario .campo input:focus {
  border: 1px solid var(--color-orange);
}

.button {
  background-color: var(--color-orange);
  color: var(--color-white);
  display: block;
}

.invalid {
  opacity: 0.2;
  cursor: not-allowed;
  box-shadow: none;
}
