<div class="registrar">
  <h3>Editar Usuario</h3>

  <form class="formulario" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="campo" id="nombre">
      <label for="nombre">Nombre</label>
      <input
        type="text"
        formControlName="nombre"
        placeholder="Ingrese nombre"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Ingrese nombre'"
      />
      <div
        class="mensaje-error"
        *ngIf="
          formGroup.get('nombre')?.touched && formGroup.get('nombre')?.invalid
        "
      >
        {{ mensajeErrorNombre() }}
      </div>
    </div>
    <div class="campo" id="apellido">
      <label for="nombre">Apellido</label>
      <input
        type="text"
        formControlName="apellido"
        placeholder="Ingrese apellido"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Ingrese apellido'"
      />
      <div
        class="mensaje-error"
        *ngIf="
          formGroup.get('apellido')?.touched &&
          formGroup.get('apellido')?.invalid
        "
      >
        {{ mensajeErrorApellido() }}
      </div>
    </div>
    <div class="campo" id="edad">
      <label for="nombre">Edad</label>
      <input
        type="text"
        formControlName="edad"
        (input)="onInput($event)"
        inputmode="numeric"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Ingrese edad'"
        placeholder="Ingrese edad"
      />

      <div
        class="mensaje-error"
        *ngIf="formGroup.get('edad')?.touched && formGroup.get('edad')?.invalid"
      >
        {{ mensajeErrorEdad() }}
      </div>
    </div>
    <div class="campo" id="telefono">
      <label for="nombre">Teléfono</label>
      <input
        type="text"
        formControlName="telefono"
        appFormatPhoneNumber
        inputmode="numeric"
        placeholder="Ingrese teléfono"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Ingrese teléfono'"
      />
      <div
        class="mensaje-error"
        *ngIf="
          formGroup.get('telefono')?.touched &&
          formGroup.get('telefono')?.invalid
        "
      >
        {{ mensajeErrorTelefono() }}
      </div>
    </div>
    <div class="campo" id="correo">
      <label for="nombre">Correo Electrónico</label>
      <input
        type="text"
        formControlName="correo"
        placeholder="Ingrese correo electrónico"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Ingrese electrónico'"
      />
      <div
        class="mensaje-error"
        *ngIf="
          formGroup.get('correo')?.touched && formGroup.get('correo')?.invalid
        "
      >
        {{ mensajeErrorCorreo() }}
      </div>
    </div>

    <input
      class="button"
      [disabled]="!formGroup.valid"
      [ngClass]="{ invalid: !formGroup.valid }"
      type="submit"
      value="Guardar"
    />
  </form>
</div>

<div id="notificacion" [ngClass]="{ show: mostrarNotificacion }">
  Se edito el usuario: {{ formGroup.get("nombre")?.value }}
</div>
