<div class="listado">
  <h3>Listado de usuarios</h3>
  <div class="table-container">
    <div class="table-row header">
      <div class="table-cell">Nombre</div>
      <div class="table-cell">Apellido</div>
      <div class="table-cell">Edad</div>
      <div class="table-cell">Teléfono</div>
      <div class="table-cell">Correo</div>
      <div class="table-cell"></div>
      <div class="table-cell"></div>
    </div>
    <div class="table-row values" *ngFor="let usuario of listaUsuarios">
      <div class="table-cell">{{ usuario.nombre }}</div>
      <div class="table-cell">{{ usuario.apellido }}</div>
      <div class="table-cell edad">{{ usuario.edad }}</div>
      <div class="table-cell">{{ usuario.telefono }}</div>
      <div class="table-cell">{{ usuario.correo }}</div>
      <div class="table-cell">
        <svg
          style="cursor: pointer"
          (click)="abrirEditar(usuario.id)"
          xmlns="http://www.w3.org/2000/svg"
          id="pen"
          width="20"
          height="20"
          viewBox="0 0 20 20"
        >
          <g fill="currentColor">
            <path
              fill-rule="evenodd"
              d="M13.198 1.22L3.12 11.298a1 1 0 0 0-.282.555l-.705 4.594a1 1 0 0 0 1.14 1.14l4.595-.705a1
               1 0 0 0 .555-.281L18.501 6.523a1 1 0 0 0 0-1.414l-3.89-3.89a1 1 0 0 0-1.413
                0ZM4.317 15.404l.448-2.924l9.14-9.14l2.475 2.476l-9.14 9.14l-2.923.448Z"
              clip-rule="evenodd"
            />
            <path
              d="m11.442 5.247l1.06-1.061l3.242 3.24l-1.061 1.061l-3.241-3.24Z"
            />
          </g>
        </svg>
      </div>
      <div class="table-cell">
        <svg
          (click)="eliminarUsuario(usuario.id)"
          style="cursor: pointer"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="20"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="m170.5 51.6l-19 28.4h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6h-93.7c-2.7
             0-5.2 1.3-6.7 3.6zm147-26.6l36.7 55H424c13.3 0 24 10.7 24 24s-10.7 
             24-24 24h-8v304c0 44.2-35.8 80-80 80H112c-44.2 
             0-80-35.8-80-80V128h-8c-13.3 0-24-10.7-24-24s10.7-24
              24-24h69.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7
               0 36.2 9.4 46.6 24.9zM80 128v304c0 17.7 14.3 32 32 32h224c17.7
                0 32-14.3 32-32V128H80zm80 64v208c0 8.8-7.2 
                16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80
                 0v208c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 
                 16-16s16 7.2 16 16zm80 0v208c0 8.8-7.2 
                 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<div id="notificacion" [ngClass]="{ show: mostrarNotificacion }">
  {{ mensajeNotificacion }}
</div>
