.listado {
  width: 90%;
  margin: auto;
  
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.table-row {
  display: flex;
  align-items: center; /* Alineación vertical */
}

.header {
  border-top: 1px solid black;
  margin: 10px 0;
}

.table-cell {
  flex-basis: 0;
  flex-grow: 1;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.values {
  border-radius: 10px;
  height: 84px;
  background-color: var(--color-white);
  margin-bottom: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

@media (max-width: 992px) {
  .listado {
    width: 90%;
  }
}
