.sidebar {
  background-color: var(--color-dark-blue);
  height: 100%;
  width: 280px;
  color: var(--color-orange);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
}

.navbar-nav {
  padding: 2rem;
  list-style-type: none;
}

.logo {
  width: 100%;
  height: 180px;
  background-color: #ffffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  padding: 8px;
}

.nav-item .nav-link {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--color-gray);
}

.nav-item .nav-link:hover {
  color: var(--color-white);
}

.nav-item .active-link,
.nav-item .active-link:hover {
  color: var(--color-orange);
}

@media (max-width: 992px) {
  .logo {
    height: 120px;
  }
  .logo img {
    width: 150px;
  }

  .sidebar {
    height: fit-content;
    width: 100%;
    position: relative;
  }

  .navbar-nav {
    padding: 2rem;
    display: flex;
  }
}
