<div class="sidebar">
    <nav class="nav">
        <div class="logo">
            <img src="../../../assets/logo.png" alt="" width="200px">
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/'" [routerLinkActive]="'active-link'"
                    [routerLinkActiveOptions]="{exact: true}">
                    Nuevo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'lista-usuarios'" [routerLinkActive]="'active-link'">
                    Listado
                </a>
            </li>
        </ul>
    </nav>
</div>